$background-color: orange;

.login-content {

    background: $background-color;

    .title-wrapper {
        h1 {
            // @include myFancyStyles;
            // font-size: 10rem;
            background: $background-color;
        }
    }

    .login-form {
        // @extend .stupid-stuff;

        input {
            // font-size: px;
        }
        
    }
}