<div class="login-content">
    <div class="title-wrapper">
        <h1>Login</h1>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="login-form">
        <input type="text" formControlName="username">
        <input type="password" formControlName="password">

        <button>Login</button>
    </form>

    <p>{{currentError}}</p>
</div>